<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakeReadyExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <MakeReadyExcel.Properties.Settings>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginTime" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterCountry" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterDateStart" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
            <setting name="FilterDateEnd" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
        </MakeReadyExcel.Properties.Settings>
    </userSettings>
</configuration>
