<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Debug" internalLogFile="${specialfolder:folder=ApplicationData}/MakeReadyAddin/Logs/NLogInternal.txt"
      throwConfigExceptions="true" autoReload="true">
  <targets async="true">
    <target name="file" type="File"
            layout="${level:uppercase=true:padding=-5} ${longdate} ${threadid:padding=3} ${callsite:includeNamespace=false} &gt;&gt; ${message}${when:when=length('${exception}')&gt;0:Inner= }${exception:format=ToString,StackTrace}"
            fileName="${specialfolder:folder=ApplicationData}/MakeReadyAddin/Logs/MakeReadyLog.txt"
            archiveFileName="${specialfolder:folder=ApplicationData}/MakeReadyAddin/Logs/Archive/MakeReadyLog_{#}.txt"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="60"
            concurrentWrites="true" keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file"/>
  </rules>
</nlog>
